proyecto/node-red-data/flows.json
[
    {
        "id": "100ad66863213005",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8551ff735aaa073e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "13cc0b920e975f3d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "054ef4aed563840a",
        "type": "ui_tab",
        "name": "Caida Libre",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "177043968310283c",
        "type": "ui_group",
        "name": "Caida Libre",
        "tab": "054ef4aed563840a",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "fbdc47086ae59520",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "93097c9b87cf14ac",
        "type": "MySQLdatabase",
        "name": "",
        "host": "db",
        "port": "3306",
        "db": "root",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "4571f4b3869b4de3",
        "type": "mqtt in",
        "z": "8551ff735aaa073e",
        "name": "MQTTserver",
        "topic": "test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "13cc0b920e975f3d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 140,
        "wires": [
            [
                "1bb52592c44f89f1"
            ]
        ]
    },
    {
        "id": "1bb52592c44f89f1",
        "type": "json",
        "z": "8551ff735aaa073e",
        "name": "Archivo JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 220,
        "y": 240,
        "wires": [
            [
                "e8defd77944df2af"
            ]
        ]
    },
    {
        "id": "98f6a1f3119f25ee",
        "type": "mqtt out",
        "z": "8551ff735aaa073e",
        "name": "",
        "topic": "inTopic",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "13cc0b920e975f3d",
        "x": 740,
        "y": 220,
        "wires": []
    },
    {
        "id": "e8defd77944df2af",
        "type": "function",
        "z": "8551ff735aaa073e",
        "name": "function 1",
        "func": "var d1 = msg.payload.inp;\nvar d2 = msg.payload.ou;\nvar query = \"INSERT INTO control_caidalibre (inp, ou) VALUES ('\" + d1 + \"', '\" + d2 + \"') \";\nmsg.topic = query;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 320,
        "wires": [
            [
                "911e7d37b90883d7"
            ]
        ]
    },
    {
        "id": "a35a180e13d097ba",
        "type": "debug",
        "z": "8551ff735aaa073e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 200,
        "y": 500,
        "wires": []
    },
    {
        "id": "5cb4ae9211ca7d02",
        "type": "ui_button",
        "z": "8551ff735aaa073e",
        "name": "output2",
        "group": "177043968310283c",
        "order": 8,
        "width": "0",
        "height": "0",
        "passthru": true,
        "label": "ou",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 540,
        "y": 260,
        "wires": [
            [
                "98f6a1f3119f25ee"
            ]
        ]
    },
    {
        "id": "7699f65ad43e014b",
        "type": "ui_button",
        "z": "8551ff735aaa073e",
        "name": "datoIN",
        "group": "177043968310283c",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "inp",
        "tooltip": "",
        "color": "",
        "bgcolor": "#FF0000",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 530,
        "y": 200,
        "wires": [
            [
                "98f6a1f3119f25ee"
            ]
        ]
    },
    {
        "id": "911e7d37b90883d7",
        "type": "mysql",
        "z": "8551ff735aaa073e",
        "mydb": "93097c9b87cf14ac",
        "name": "",
        "x": 210,
        "y": 420,
        "wires": [
            [
                "a35a180e13d097ba"
            ]
        ]
    }
]